# Pastas de dependências (O Render instala isto sozinho)
node_modules/

# Ficheiros da base de dados local (Para não enviares os teus testes)
backend/db/*.db

# Ficheiros de ambiente e logs
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ficheiros do Sistema Operativo
.DS_Store
Thumbs.db